@using OrderSystem.Web.Models;
@model EditOrderWithItemsViewModel;

<div class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title fs-5">Edit order</h1>
	</div>
	<div class="modal-body">
		<div id="edit-order-container">
			<partial name="EditOrder.cshtml" model="@Model.OrderViewModel" />
		</div>
		<br />
		<div class="row justify-content-around">
			<h4 class="col-4">Order items</h4>
			<button class="btn btn-primary col-3">Add item</button>
		</div>
		@if (Model.OrderItemViewModels.Count > 0)
		{
			<table id="order-items-table" class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Quantity</th>
						<th scope="col">Unit</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var viewModel in Model.OrderItemViewModels)
					{
						<partial name="EditOrderItem.cshtml" model="@viewModel" />
					}
				</tbody>
			</table>
		}
	</div>
</div>